.card_container {
    @apply flex w-[25%] flex-col gap-10 border-l-[1px]
    border-l-gray-dark-200 px-8 first:border-l-0
    first:pl-0 xl:h-[260px] xl:w-[50%] xl:gap-8
    xl:px-4 xl:odd:border-l-0 xl:odd:pl-0 lg:h-[310px]
    md:h-auto md:w-full md:border-l-0 md:px-0 md:pt-4
    md:border-t-[1px] md:border-t-gray-dark-200
    md:first:border-t-0 md:first:pt-0
}

.card_container_tablet {
    @apply xl:relative xl:before:absolute xl:before:-top-4
    xl:before:left-0 xl:before:right-0 xl:before:h-[1px]
    xl:before:w-[100.3%] xl:before:bg-gray-dark-200
    md:before:hidden
}