.hero_banner {
  @apply relative pb-[96px] pt-[148px]
    before:absolute before:inset-0
    before:-top-[120px] before:-z-[1]
    xl:before:-top-[136px] lg:py-10;
}

.hero_banner:before {
    opacity: 0.24;
    background: url('/hero-banner-bg.gif') top center no-repeat, lightgray -30.222px -66.921px / 103.148% 106.196% no-repeat;
    background-size: cover;
}

.article_news {
  @apply w-[49%] bg-white p-10 md:w-full;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0 -2px 21px 0 rgba(0, 0, 0, 0.08);
}
