@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1512px] px-10 md:px-5;
  }

  .button-primary {
    @apply flex h-[56px] w-full
    max-w-[334px] items-center
    justify-center gap-x-4 rounded-md
    bg-primary-main text-body
    text-white hover:bg-primary-light
    active:bg-primary-dark disabled:bg-gray-light;
  }

  .button-secondary {
    @apply relative flex items-center text-body
    text-gray-dark-100 hover:text-primary-main
    active:text-primary-main disabled:text-gray-light;
  }

  .tab-btn-rounded-primary {
    @apply w-full h-[53px] rounded-[50px]
    flex items-center justify-center text-white
    bg-gray-main hover:bg-gray-light
    active:bg-primary-main
  }

  .tab-btn-rounded-secondary {
    @apply w-full h-[53px] rounded-[50px]
    flex items-center justify-center text-gray-dark-100
    border-[1px] border-gray-light hover:bg-gray-light
    hover:text-white active:border-black
    active:bg-primary-main
  }

  .tab-btn-outlined {
    @apply w-full h-[56px] flex items-center
    justify-center text-gray-main border-b-[3px]
    border-b-gray-main hover:border-b-gray-light
    hover:text-gray-light active:border-black
    active:text-black active:border-b-primary-main
  }

  .input {
    @apply h-[42px] w-full border-b-2 border-b-gray-main pb-4
    text-paragraph outline-none placeholder:text-gray-dark-100
    bg-[transparent]
  }
}
