.hero_banner {
  @apply relative pb-[96px] pt-[148px]
  xl:overflow-hidden xl:flex xl:flex-col
  xl:items-center lg:py-10;
}

.article_news {
  @apply w-[49%] bg-white p-10 md:w-full;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0 -2px 21px 0 rgba(0, 0, 0, 0.08);
}

.article_news:hover {
    box-shadow: 0 -2px 21px 0 rgba(0, 0, 0, 0.15);
}

.video {
    @apply absolute -top-[150px] -z-[1] min-h-fit w-auto
    opacity-[.24] min-w-full max-w-full
    1xl:-top-[120px] xl:-top-[160px] xl:max-w-none
    xl:min-w-fit lg:-top-[143px] lg:max-w-[200%]
    lg:min-w-0 md:max-w-[274%] md:-top-[95px]
}
