.pages_banner {
  @apply relative overflow-hidden bg-no-repeat
    pb-[292px] -mt-[120px] -z-[1] pt-[284px]
    before:absolute before:right-[22px]
    before:-top-[208px] before:h-[895px]
    before:-z-[1] before:w-[700px] before:opacity-[.2]
    before:bg-[url('/banner-secondary.gif')]
    before:bg-cover before:bg-center
    before:bg-no-repeat xl:before:w-[646px]
    xl:before:h-[652px] xl:pt-[176px] xl:pb-[160px]
    xl:before:-top-[95px] xl:before:-right-[185px]
    md:before:-top-[100px] md:before:-right-[380px]
    md:pb-20;
}
